<div class="top-banner">
    <div class="scrolling-text">
        <span>Limited time offer: Get 20% OFF your first procedure! • Limited time offer: Get 20% OFF your first
            procedure! • Limited time offer: Get 20% OFF your first procedure! • Limited time offer: Get 20% OFF your
            first procedure! •</span>
        <span>Limited time offer: Get 20% OFF your first procedure! • Limited time offer: Get 20% OFF your first
            procedure! • Limited time offer: Get 20% OFF your first procedure! • Limited time offer: Get 20% OFF your
            first procedure! •</span>
    </div>
</div>
