<footer class="footer">
    <div class="container grid grid-3">
        <!-- Brand / Contact -->
        <div>
            <h1>Lunara
            </h1>
            <p>500 Terry Francine street,<br>
                San Franciso, CA 94158
            </p>
            <p><a href="tel:+1234567890" class="phone-link">📞 +1 (234)
                    567-890</a></p>
            <p>Copyright &copy; 2025</p>
        </div>

        <!-- Links -->
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>

        <!-- Social -->
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-pinterest"></i></a>
        </div>
    </div>
</footer>